<b-row>
  <b-col>
    <legend>Novo Questionário</legend>
    <b-form>
      <b-form-group label="Título">
        <b-form-input name="titulo" v-model='questionario.titulo' size="sm"></b-form-input>
      </b-form-group>
      <b-form-group label="Descrição">
        <b-form-textarea name="descricao" v-model='questionario.descricao' size="sm"></b-form-textarea>
      </b-form-group>
      <hr>
      
      <b-card header="Questão">
        <b-form-group label="Título">
          <b-form-input name="titulo" v-model="questao.titulo" size="sm" required></b-form-input>
        </b-form-group>
        <b-form-group label="Descrição">
          <b-form-textarea name="descricao" v-model="questao.descricao"></b-form-textarea>
        </b-form-group>
        <b-form-group label="Tipo da Questão">
          <b-form-select v-model="questao.tipo_questao" :options="questionario_options" size="sm"></b-form-select>
        </b-form-group>
        <hr>
        <b-form-group v-show="questao.tipo_questao !== '1'">
          <b-card header="Alternativas" >
            <b-form-group label="titulo">
              <b-form-input size="sm" name="alternativa_titulo" v-model="alternativa.titulo"></b-form-input>
            </b-form-group>
            <b-form-group label="Descrição">
              <b-form-input size="sm" name="alternativa_titulo" v-model="alternativa.descricao"></b-form-input>
            </b-form-group>
            <b-form-group label="Tipo da alternativa">
              <b-form-select size="sm" v-model="alternativa.tipo_alternativa" :options="alternativaOptions"
                  :disabled="questao.tipo_questao === '4'"></b-form-select>
            </b-form-group>

            <b-form-group v-show="alternativa.tipo_alternativa === '3'">
              <b-card header="SubAlternativas" >
                <b-form-group label="titulo">
                  <b-form-input size="sm" name="sub_alternativa_titulo" v-model="subAlternativa.titulo"></b-form-input>
                </b-form-group>
                <b-form-group label="Descrição">
                  <b-form-input size="sm" name="sub_alternativa_descricao" v-model="subAlternativa.descricao"></b-form-input>
                </b-form-group>
                <hr>
                <b-form-group>
                  <b-button size="sm" class="float-right" @click="adicionarSubAlternativa">adicionar sub alternativa</b-button>
                </b-form-group>
                <hr>
                <b-table :fields="alternativasFields" :items="alternativa.alternativas">
                  <template slot="index" slot-scope="{ index }">
                    [[ index + 1 ]]
                  </template>
                  <template slot="acao" slot-scope="{ item, index }">
                    <b-button size="sm" variant="danger" @click="removerSubAlternativa(index)">remover</b-button>
                  </template>
                </b-table>
              </b-card>
            </b-form-group>

            <hr>
            <b-form-group>
              <b-button size="sm" class="float-right" @click="adicionarAlternativa">adicionar alternativa</b-button>
            </b-form-group>
            <hr>
            <b-table :fields="alternativasFields" :items="questao.alternativas">
              <template slot="index" slot-scope="{ index }">
                [[ index + 1 ]]
              </template>
              <template slot="acao" slot-scope="{ item, index }">
                <b-button size="sm" variant="danger" @click="removerAlternativa(index)">remover</b-button>
              </template>
            </b-table>
          </b-card>
        </b-form-group>
      </b-card>


      <b-form-group>
        <b-button @click="adicionarQuestao" size="sm">Adicionar Questão</b-button>
      </b-form-group>
      <hr>

      <b-table :fields="questoesFields" :items="questionario.questoes">
        <template slot="index" slot-scope="{ index }">
          [[ index + 1 ]]
        </template>
        <template slot="tipo_questao" slot-scope="{ item }">
          [[ questionario_options[item.tipo_questao] ]]
        </template>
        <template slot="acao" slot-scope="{ item, toggleDetails, index }">
          <b-button size="sm" variant="danger" @click="removerQuestao(index)">remover</b-button>
          <b-button size="sm" @click="toggleDetails" class="mr-2">alternativas</b-button>
        </template>

        <template slot="row-details" slot-scope="{ item }">
          <h3 v-show="item.alternativas.length === 0">Questao sem alternativas</h3>
          <b-card title="alternativas" v-show="item.alternativas.length > 0">
            <b-table :fields="alternativasFields" :items="item.alternativas">
              <template slot="index" slot-scope="{ index }">
                [[ index + 1 ]]
              </template>
              <template slot="acao" slot-scope="{ item, index }">
                <b-button size="sm" variant="danger" @click="removerAlternativa(index)">remover</b-button>
              </template>
            </b-table>
          </b-card>
        </template>
      </b-table>
      <hr>
      <b-button size="sm" @click="salvarQuestionario">salvar questionario</b-button>
    </b-form>
  </b-col>

  <b-col>
    <legend>Questionários</legend>
    <b-table :items='questionarios.results' :fields='questionarioFields'>
      <template slot="acoes" slot-scope="{ item }">
        <router-link :to="'/responder/questionario/' + [[ item.id ]]">
          <b-button size="sm" variant="primary">responder</b-button>
        </router-link>
        <b-button size="sm" @click="removerQuestionario(item)" variant="danger">remover</b-button>
      </template>
    </b-table>
  </b-col>
</div>